/* Add a black background color to the top navigation */
.topnav {
    background-color: pink;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: palevioletred;
    color: white;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: palevioletred;
    color: white;
  }

  table a{
    text-decoration: none;
    color: pink;
  }

  table {
    text-align: center;
  }

  .container{
    color: white;
    background-color: rgb(192, 34, 118);
    width: 1002px;
    margin-top: 50px;
    margin-left: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }
